@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body{
	background-color:var(--bg-main);
	font-family:Open sans, sans-serif;
	box-sizing:border-box;
	font-size:18px;
	margin:0;
	padding:0;
}
:root{
	--bg-main:#8bffff;
	--bg-color1:#20215e;
	--h-color:#38b6d0;
	--h-color2:#bb0901;
	--white-color:#f2f2f2;
	--bg-color3:#cdffff;
	--bg-color4:#4095e1;
}
p{
	font-family:"noto-Serif", serif;
	font-size:1.3rem;
	font-style:normal;
	text-align:justify;
	color:#333333;
}
.text2{
	margin:0;
}
header{
	display:flex;
	background-color: var(--bg-color1);
	background-image: linear-gradient(160deg, var(--bg-color4) 20%, var(--bg-color1) 100%);
	width:100%;
	justify-content:space-between;
	align-items:center;
	padding:.5% 0 .5% 0;
	border-radius:5px;
}
.logo-name{
	display:inherit;
	gap:12px;
	z-index:0;
}
.logoFundacion{
	width:16%;
	border-radius:48%;
	margin-left:1%;
}
h1{
	align-items:center;
	color:var(--white-color);
	font-size:2em;
	font-family:Open sans, sans-serif;
}
.title2{
	color:var(--bg-color1);
	font-size:2em;
	font-family:"Quicksand", sans-serif;
	text-align:center;
}
#navegador{
	display:flex;
	justify-content:space-evenly;
	align-items:start;
	z-index:2;
	margin:0;
}
a{
	/* color:var(--white-color); */
	padding-right:10px;
	margin:0;
	text-decoration:none;
}
a:hover{
	color: var(--h-color);
	text-decoration: underline;
}
a:focus:visited{
	color:yellow;
}
:is(ul, li) {
	list-style-type:none;
	display:flex;
	font-weight:bold;
	padding:0;
	padding-right:8px;
}
#mision, #vision {
	height:90%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin:1%;
}
.title3 {
	color:var(--white-color);
	text-align:center;
	font-family:"Quicksand", sans-serif;
}
.image1{
	width:100%;
	max-width:auto;
	border-radius:2%;
}
.content{
	width:60%;
	margin:0 2% 0 2%;
}
.image2{
	width:80%;
	height:80%;
	border-radius:3%;
}
.image3{
	width:80%;
}
.foto{
	width:80%;
	border-radius:50%;
}
#fundadores{
	display:grid;
	grid-template-columns:auto auto auto;
	grid-template-rows:auto auto;
	background:var(--bg-color4);
	margin:0 auto;
	height:100%;
	padding-bottom:2%;
}
.color-word{
	display:inherit;
	grid-column:1/4;
	color:var(--white-color);
}
div[class="socios"] {
	display:inherit;
	column-gap:2%;	
}
article[class="lider"] {
	display:grid;
	grid-row:2/3;
	width:90%;
	height:100%;
	justify-items:center;
	justify-self:center;
	align-items:center;
}
#seccionVideo{
	display:flex;
	padding-top:3%;
	padding-bottom:4%;
}
#video{
	margin:0 auto;
	padding:2% 0 1% 0;
}
#servicios{
	background-color:var(--bg-color4);
	display:grid;
	grid-template-columns:auto auto auto auto;
	grid-template-rows:auto auto;
	column-gap:1%;
	width:100%;
	height:100%;
	padding-bottom:2%;
}
div[class= "cajaSubtitulo"]{
	display:inherit;
	grid-column:1/5;
	width:100%;
}
 div[class="especialidad"] {
	display:inherit;
	justify-items:center;
	align-items:center;
	margin:0 auto;
	width:90%;
	height:90%;
}
footer{
	width:100%;
	/* color:var(--white-color); */
	background-color: var(--bg-color1);
	background-image: linear-gradient(160deg, var(--bg-color1) 20%, var(--bg-color4) 100%);
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding: 1% 0 1% 0;
	border-radius:5px;
}
#direccion{
	width:80%;
	height:100%;
	margin-left:2%;
	font-size:1em;
}
#enlacesFooter{
	width:50%;
	height:100%;
	margin-right:2%;
	text-align:right;
}
#socialMedias{
	position:fixed;
	width:3%;
	text-align:center;
	background: linear-gradient(rgb(203, 241, 228), rgb(47, 170, 255)) ;
	border-radius: 3% ;
	margin:9% 0 0 .5%;
	z-index:1;
}
#paginaGaleria{
	text-align:center;
	width:90%;
	height:100%;
	margin:0 auto;
}
div[id="galeriaFotos"] {
	display:flex;
	justify-content:center;
	align-items:center;
	align-content:space-evenly;
	flex-wrap:wrap;
	column-gap:1%;
	height:100%;
	width:100%;
	padding-bottom:1%;
	overflow:auto;
}
.galeria{
	width:13%;
	height:100px;
	margin-top:1%;
	border-radius:10%;
}
#enlacesFooter a:nth-child(2n-1){
	color:green;
	font-size:25px;
}