@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
margin:0;
padding:0;
box-sizing:border-box;
}
body{
font-family:Open sans, sans-serif;
box-sizing:border-box;
font-size:18px;
}
:root{
--bg-color1:#20215e;
--h-color:#38b6d0;
--h-color2:#bb0901;
--white-color:#f2f2f2;
--bg-color3:#e4e7eb;
--bg-color4:#4095e1;
}
* p {
font-family:Arsenal bold, serif;
font-size:18px;
font-weight:400;
font-style:normal;
text-align:justify;
}
header{
width:100%;
display:flex;
justify-content:space-between;
alig-items:center;
background-color: var(--bg-color1);
padding-bottom:1%;
padding-top:1%;
}
.logo-abb{
	display:inherit;
	gap:10px;
}
.logo {
width:130px;
padding:1% 0 1% 0;
border-radius:48%;
margin-left:8px;
}
#name-empresa{
flex-direction:column;
alig-items:center;
color:var(--white-color);
font-size:2em;
font-family:Open sans, sans-serif;
padding-top:1.5%;
}
#title2{
color:var(--h-color2);
font-size:1.7em;
font-family:Open sans, sans-serif;
padding:5px;
text-align:center;
padding-bottom:1%;
padding-top:1%;
}
nav{
display:flex;
justify-content:space-around;
align-items:center;
}
a{
color:var(--white-color);
text-decoration:none;
padding:3px;
margin:2px;
}
a:hover{
color: var(--h-color);}
ul{
display:flex;
justify-content:center;
list-style-type:none;
}
li{
margin:7px;
border-right:2px solid var(--h-color);
font-weight:bold;
}
#mision, #vision {
background-color:var(--bg-color4);
height:100%;
display:flex;
justify-content:space-between;
align-items:center;
}
.subtitle2{
color:var(--h-color2);
font-size:2rem;
font-style:italic;
font-family:roboto, sans-serif;
text-align:center;
width:100%;
padding:15px 0 15px 0;
margin:0 10px 0 0;
}
.subtitle3 {
color:var(--white-color);
text-align:center;
width:200px;
}
.subtitle4{
text-align:center;
}
.content{
margin:0 10px 0 10px;
text-align:center;
}
.image1{
width:100%;
height:90vh;
max-width:auto;
border-radius:2%;
}
.image2{
width:200px;
height:150px;
border-radius:3%;
margin:0 auto;
}
.image3{
width:30px;
}
.foto{
width:100%;
border-radius:50%;
margin:0 auto;
}
#fundadores{
display:flex;
flex-direction:column;
justify-content:center;
background:var(--bg-color3);
height:500px;
padding-top:2%;
padding-bottom:1%;
}
.socios {
display:flex;
align-items:center;
}
.lider {
display:flex;
justify-content:space-evenly;
flex-direction:column;
alig-items:center;
align-content:center;
width:250px;
height:400px;
margin:0 auto;
}
#video-ilustrativo{
background-color:var(--bg-color3);
display:flex;
padding-top:3%;
padding-bottom:4%;
}
.video{
margin:0 auto;
}
#servicios{
background-color:var(--bg-color4);
display:flex;
flex-direction:column;
justify-content:space-evenly;
height:100%;
padding-top:2%;
padding-bottom:2%;
}
footer{
width:100%;
color:white;
background-color:var(--bg-color1);
display:flex;
align-items:center;
padding-top:3%;
padding-bottom:3%;
}
.dir{
width:100%;
height:100%;
border-right:1px solid var(--h-color);
padding-top:2%;
margin-left:2%;
font-size:14px;
}
.options-footer{
width:100%;
height:100%;
display:flex;
flex-direction:column;
border-right:1px solid var(--h-color);
margin-left:5%;
}
.redes{
justify-content:space-evenly;
flex-direction:column;
width:100%;
margin-left:8%;
}
#contenedor{
	display:flex;
	flex-wrap:wrap;
	gap:8px;
	margin-left:5%;
	padding-top:1%;
	padding-bottom:4%;
}
/* cambiar color border */
.galeria{
	box-sizing:border-box;
	width:150px;
	border-radius:3%;
	border:1px solid #38b6d0;
}
main .fundadores .flecha-izquierda,
main .fundadores .flecha-derecha{
	position: absolute;
  border: none;
  background: rgb(0, 0, 0, 0.3);
  font-size: 40px;
  height: 50%;
  top: calc(50% - 25%);
  line-height: 40px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 4;
  transition: .2s ease all;
}
main .fundadores .flecha-izquierda:hover{
	background:rgba(0,0,0,0.9);
}
main .fundadores .flecha-izquierda{
left:0;
}
main .fundadores .flecha-derecha{
right:0;
}
main .fundadores .flecha-derecha:hover{
background:rgba(0,0,0,0.9);
}