:root{
	--input-color:#fff;
	--border-color:#45d51c;
	--subtitle-color:#20215e;
	--enlaces-color:#12b422;
}
.leyenda, .title3, .title4 {
	color:var(--subtitle-color);
	font-size:1.2em;
	margin:7px;
	padding-bottom:8px;
}
form{
	font-family:Open sans, sans-serif;
	background-color:#c4ffff;
	color:#333333;
	width:500px;
	height:100%;
	margin:0 auto;
	padding-bottom:1%;
	border:none;
	border-radius:10px;
	margin-bottom:10px;
}
form label{
	margin-left:3%;
	color:var(--subtitle-color) ;
}
input{
	display:block;
	width:90%;
	height:30px;
	background:var(--input-color);
	margin-left:10px;
	font-size:16px;
	border:none;
	border-radius:10px;
	margin-left:2%;
}
textarea{
	margin-top:1%;
	margin-left:2%;
	border:none;
	border-radius:10px;
	font-size:19px;
}
input:focus{
border:2px solid var(--border-color);
}
a[class="terminos"]:hover{
color:var(--enlaces-color);
}
.pago {
margin:12px;
}
#medio, #divisa{
padding:7px;
width:100px;
background-color:var(--input-color);
border:none;
border-radius:5px;
}
.cant{
margin-left:2%;
}
#valor {
width:80px;
display:inline;
}
#politicas, #check{
	width:18px;
	display:inline;
	position:relative;
	top:8px;
}
.condi {
	margin-left:3px;
	display:inline;
	font-size:14px;
}
button{
	background:var(--enlaces-color);
	font-family:"roboto", sans-serif;
	font-size:1.3rem;
	font-weight:bold;
	letter-spacing:1px;
	margin:2% 0 1% 0;
	color:white;
	width:25%;
	height:35px;
	border:none;
	border-radius:4%;
	position:relative;
	left:30%;
}
#btn:hover{
	background:rgba(255, 255, 255, 0.5);
	color:black;
}
button:default{
	box-shadow:2px 2px 5px 1px black;
}

.title4{
	margin-top:2%;
}