:root{
	--input-color:#fff;
	--color-cajas:#c4ffff;
	--subtitle-color:#20215e;
	--enlaces-color:#48c335;
}
.leyenda, .title3, .title4{
	color:var(--subtitle-color);
	font-size:1.2em;
	margin:1%;
	padding-bottom:1%;
}
.title4{
	margin-top:3%;
}
form{
	font-family:Open sans, sans-serif;
	background-color:var(--color-cajas);
	color:#333333;
	width:450px;
	height:100%;
	margin:0 auto;
	padding-bottom:1%;
	border:none;
	border-radius:10px;
	margin-bottom:10px;
}
form label{
	font-size:1.3rem;
	margin:7%;
	margin-bottom:2%;
	color:var(--subtitle-color) ;
}
input{
	display:block;
	width:80%;
	height:30px;
	background:var(--input-color);
	font-size:16px;
	border:none;
	border-radius:10px;
	margin-left:7%;
}
textarea{
	margin-top:1%;
	margin-left:2%;
	border:none;
	border-radius:10px;
	font-size:19px;
}
a[class="terminos"]:hover{
	color:var(--enlaces-color);
}
.pago {
	margin:12px;
}
#medio, #divisa{
	padding:7px;
	width:100px;
	background-color:var(--input-color);
	border:none;
	border-radius:5px;
}
.cant{
	margin-left:2%;
}
#valor {
	width:80px;
	display:inline;
}
#politicas, #check{
	width:18px;
	display:inline;
	position:relative;
	top:8px;
}
.condi {
	margin-left:3px;
	display:inline;
	font-size:14px;
}
button{
	background-color:var(--enlaces-color) ;
	font-family:"roboto", sans-serif;
	font-size:1.3rem;
	font-weight:bold;
	letter-spacing:1px;
	margin:2% 0 1% 0;
	color:white;
	width:25%;
	height:35px;
	border:none;
	border-radius:4%;
	position:relative;
	left:30%;
}
#btn:hover{
	background:rgba(255, 255, 255, 0.5);
	color:black;
}
button:default{
	box-shadow:2px 2px 3px 2px black;
}
#infoContato{
	width:50%;
	margin:1% 25% 1% 25%;
	background-color:var(--color-cajas) ;
	border-radius:10px;
}
.info, #infoContato{
	text-align:center;
}