:root{
	--input-color:#fff;
	--color-cajas:#c4ffff;
	--text-color:#20215e;
	--text-color2:#d12e00;
	--enlaces-color:#48c335;
	--font-family: "Georgia", sans-serif;
}
form{
	font-family:Open sans, sans-serif;
	background-color:var(--color-cajas);
	width:35%;
	height:100%;
	margin:0 auto;
	padding-top:1%;
	padding-bottom:1.5%;
	border:none;
	border-radius:10px;
	margin-bottom:10px;
}
form label{
	font-size:1.3rem;
	margin:7%;
	margin-bottom:2%;
	color:var(--text-color) ;
	font-weight:bold;
}
input{
	display:block;
	width:85%;
	height:30px;
	background:var(--input-color);
	font-size:16px;
	font-family:var(--font-family);
	border:none;
	border-radius:10px;
	margin-left:7%;
}
textarea{
	margin: 0 0 0 4%;
	border:none;
	border-radius:10px;
	font-size:19px;
}
#medio, #divisa{
	font-family:var(--font-family) ;
	height:30px;
	width:100px;
	margin-bottom:10px;
	background-color:var(--input-color);
	border:none;
	border-radius:5px;
}
#valor {
	width:100px;
	display:inline;
	margin-left:5px;
}
#politicas, #check{
	width:18px;
	display:inline;
	position:relative;
	top:8px;
}
.condi {
	margin-left:3px;
	display:inline;
	font-size:14px;
}
button{
	background-color:var(--enlaces-color) ;
	font-family:"roboto", sans-serif;
	font-size:1.3rem;
	font-weight:bold;
	letter-spacing:1px;
	margin:5% 0 1% 0;
	color:white;
	width:25%;
	height:35px;
	border:none;
	border-radius:5px;
	position:relative;
	left:30%;
	transition:0.5s ease;
	transition-property: all;
}
#btn:hover{
	font-size:1.6rem;
	background:var(--text-color2);
	transform:translateY(3px) translatex(3px);
}
button:default{
	box-shadow:2px 2px 3px #000c;
}
#infoContacto{
	width:50%;
	margin:1% auto 1% auto;
	padding-top:.5%;
	padding-bottom:.5%;
	background-color:var(--color-cajas) ;
	border-radius:10px;
	letter-spacing:1px;
}
.info, #infoContacto{
	text-align:center;
}
legend{
	font-size:1.4rem;
	color:var(--text-color2);
}
fieldset{
	border:none;
	border-top:2px solid var(--text-color2) ;
}
label[class="condiciones"]{
	font-size:1rem;
	margin-left:2%;
	letter-spacing:1px;
}
a[class="terminos"]{
	color:var(--enlaces-color);
	letter-spacing:0.5px;
}
input[class="casilla"]{
	margin:.5% 0 .5% 2%;
}
label[class="cant"]{
	margin:1%;
}
select{
	margin:1%;
}
span{
	word-break:break-word;
}