.small {
	display: inherit;
	flex-direction:column;
	font-size:1em;
	text-align:center;
	width:100%;
	font-family: Helvetica, sans-serif;
}
.rezise-small {
	display:inline-block !important;
	font-size:0.6em;
}
.logoFundacion{
	width:35%;	
}
.image2{
	width:85%;
	height:50px;
}
#mision{
	padding-top:4%;
	flex-direction:column-reverse;
}
#vision{
	flex-direction:column;
	padding-bottom:3%;
}
#socialMedias{
	display:block !important;
	width:8%;
}
.text1{
	font-size:0.8em;
	font-family: Helvetica, sans-serif;
}
.text2, .text3{
	font-size:0.7em;
	margin-bottom:2%;
	text-align:justify;
	width:98%;
	font-family: Helvetica, sans-serif;
}
.title2{
	font-size:1em;
	text-align:center;
}
.title3{
	font-size: 0.7rem;
	text-align: center;
	width:100%;
}
ul li{
	font-size:0.8rem;
	margin-right:3%;
}
#coment{
	width:95%;
	font-size:0.9rem;
}
form label{
	font-size:1rem;
}
form imput{
	width:90%;
}
span{
	font-size:1rem;
}
#video{
	width:95%;
}