.small {
display: inherit !important;
flex-direction:column;
font-size:1em;
text-align:center;
width:100%;
font-family:arial;
}
.resize-small {
font-family:helvetica, serif;
width:95%;
font-size:0.8em;
}
.image1{
	width:50%;
	height:100%;
}
#mision{
	padding-top:4%;
	flex-direction:column-reverse;
}
#vision{
	flex-direction:column;
	padding-bottom:3%;
}
.text1{
	font-size:0.9em;
	margin-bottom:2%;
}
.title2{
	font-size:1.3em;
}
ul li{
	font-size:0.8rem;
	margin-right:3%;
}
.logoFundacion{
 width:35%;	
}
#coment{
	width:95%;
	font-size:0.9rem;
}
form label{
	font-size:1rem;
}
form imput{
	width:90%;
}
span{
	font-size:1rem;
}